@page "/"
@using GCS.VisuCifras3.Modelos.Interfaces.Dados

@inject IRepositorioCifras _repositorioCifras;

<PageTitle>Buscar Cifras por Artistas</PageTitle>

<div class="px-5 d-flex flex-column">
    <div class="bg-dark text-white text-center p-3">

        @if (_letrasIniciaisTitulos is not null)
        {
            @foreach (var letra in _letrasIniciaisTitulos)
            {

                <NavLink class="m-1" href="@letra">
                    @letra
                </NavLink>
            }
        }
        else
        {
            <p><em>Não foi encontrada nenhuma cifra cadastrada...</em></p>
        }
    </div>
</div>

<div>
    <ComponenteArtistasLetra></ComponenteArtistasLetra>
</div>

@code {

    List<String>? _letrasIniciaisTitulos = new();

    protected override async Task OnInitializedAsync()
    {
        _letrasIniciaisTitulos = _repositorioCifras.ObterTodasIniciaisLetraTitulo();
    }
}
